<h2>Email Subscribe</h2>

<p>Signup to receive emails daily with the menu information for that day.</p>

<p style="color: red;">{{error}}</p>
<p style="color: green;">{{success}}</p>

<form id="email-subscribe-form" ng-submit="subscribe()">

    <article class="field"> 
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="example@example.com" ng-model='email' autofocus />
    </article>

    <input type="submit" value="Signup" />

</form>

<p>To unsubscribe, <a href="#/email-unsubscribe">click here</a>.</p>
