<h1 class="title">Email Usubscribe</h1>

<p class="error" ng-show="error">{{error}}</p>
<p class="success" ng-show="success">{{success}}</p>

<p>Unsubscribe to stop receiving the daily menu sent to your email every morning.</p>
<p class="small">To receive emails, <a href="#/email-subscribe">click here</a>.</p>

<form id="form-email-unsubscribe" ng-submit="unsubscribe()">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" placeholder="example@example.com" autofocus required ng-model='email' />
    
    <input type="submit" value="Unsubscribe">
</form>