<h2>Email Unsubscribe</h2>

<p>Unsubscribe from daily emails.</p>

<p style="color: red;" ng-bind-html="error"></p>
<p style="color: green;">{{success}}</p>

<form id="email-unsubscribe-form" ng-submit="unsubscribe()">

    <article class="field"> 
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="example@example.com" ng-model='email' autofocus />
    </article>

    <input type="submit" value="Unsubscribe" />

</form>

<p>To subscribe, <a href="#/email-subscribe">click here</a>.</p>
