<h1 class="title">You Want Food</h1>

<article>
    <header>
        <h1>About You Want Food</h1>
    </header>
    
    <p>You Want Food is an application which displays University of Waterloo Food Services outlets and menu.</p>
    <p>In addition to this web application, you can also <a href="#/email-subscribe">subscribe</a> to have You Want Food email you the menu daily.
</article>

<article>
    <header>
        <h1>Information Source</h1>
    </header>
    
    <p>Information is provided by the <a href="https://api.uwaterloo.ca">University of Waterloo Open Data API</a>. You Want Food requests updated information every 30 minutes.</p>
</article>

<article>
    <header>
        <h1>Questions/Comments/Requests</h1>
    </header>
    
    <p>If you have any questions/comments/requests, please contact me <a href="mailto:youwantfood@zacharyseguin.ca">youwantfood@zacharyseguin.ca</a> or create an issue on <a href="https://github.com/zachomedia/you-want-food/">GitHub</a>.</p>
</article>
