<h1 class="title">You Want Food</h1>

<article>
    <p>You Want Food is an application which displays information about the University of Waterloo Food Services. In addition to a listing of locations, You Want Food also provides the weekly menu and Region of Waterloo Public Health inspection results.</p>
    <p>You can also <a href="#/email-subscribe">subscribe</a> to have You Want Food email you the menu daily.
</article>

<article>
    <header>
        <h1>New Features</h1>
    </header>

    <p>Recently added to You Want Food are:</p>

    <ul class="normal">
        <li>Region of Waterloo Public Health inspection results</li>
        <li>Tabbed design on the Outlet page</li>
    </ul>

</article>

<article>
    <header>
        <h1>Data Sources</h1>
    </header>

    <p>Data is used under licence from:</p>

    <ul class="normal">
        <li><a href="https://api.uwaterloo.ca" target="_blank">University of Waterloo</a> (through the Open Data API)</li>
        <li><a href="http://www.regionofwaterloo.ca/en/regionalGovernment/OpenDataHome.asp" target="_blank">Region of Waterloo</a> (through the Open Data Catalogue)</li>
    </ul>
</article>

<article>
    <header>
        <h1>Questions/Comments/Requests</h1>
    </header>

    <p>If you have any questions/comments/requests, please contact me <a href="mailto:youwantfood@zacharyseguin.ca">youwantfood@zacharyseguin.ca</a> or create an issue on <a href="https://github.com/zachomedia/you-want-food/">GitHub</a>.</p>
</article>
