<h1 ng-hide="outlet.outlet_name == null" class="title">{{outlet.outlet_name}}</h1>
<h1 ng-show="outlet.outlet_name == null" class="title">Name Unavailable</h1>

<p class="outlet-logo"><img ng-src="{{outlet.logo}}" ng-hide="!outlet.logo" /></p>

<p class="outlet-location" ng-show="outlet.building">Located in {{outlet.building}}.</p>
<p class="outlet-description" ng-bind-html="outlet.description"></p>

<section class="outlet-notice notice" ng-hide="!outlet.notice">
    <h3>NOTICE</h3>
    <p ng-bind-html="outlet.notice"></p>
</section>

<section class="outlet-hours">
    <header>
        <h1>Hours of Operation</h1>
    </header>
    <div>
        <h3>Standard Hours</h3>
        <table cellspacing="0">
            <thead>
                <tr class="header">
                    <th>Week Day</th>
                    <th>Open</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="weekday in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']|orderBy:'order'" ng-class="{last: $last, today: isToday($index) }">
                    <th>{{weekday}}</th>
                    <td>{{outlet.opening_hours[weekday].opening_hour || "&mdash;"}}</td>
                    <td>{{outlet.opening_hours[weekday].closing_hour || "&mdash;"}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="outlet.special_hours[0]">
        <h3>Special Hours</h3>
        <ul>
            <li ng-repeat="date in outlet.special_hours">
                <b>{{date.date | date:'fullDate'}}</b><br />{{date.opening_hour}} - {{date.closing_hour}}
            </li>
        </ul>
    </div>

    <div ng-show="outlet.dates_closed[0]">
        <h3>Dates Closed</h3>
        <ul>
            <li ng-repeat="date in outlet.dates_closed">{{date | date:'fullDate'}}</li>
        </ul>
    </div>
</section>

<section class="outlet-menu" ng-show="menu[0]">
    <header>
        <h1>Menu</h1>
    </header>
    <article class="outlet_menu_day" ng-repeat="day in menu" ng-class="{ today: day.day.toLowerCase() == weekdays[today.getDay()] }">
        <h3>{{day.day}}</h3>
        
        <article class="outlet_menu_meal">
            <h4>Lunch</h4>
            
            <ul>
                <li ng-repeat="item in day.meals.lunch">{{item.product_name}}<br /><span class="diet_type"><b>Diet Type:</b> {{item.diet_type || "n/a"}}</span></li>
                <p ng-hide="day.meals.lunch.length">No menu information</p>
            </ul>
        </article>
        
        <article class="outlet_menu_meal">
            <h4>Dinner</h4>
        
            <ul>
                <li ng-repeat="item in day.meals.dinner">{{item.product_name}}<br /><span class="diet_type"><b>Diet Type:</b> {{item.diet_type || "n/a"}}</span></li>
                <p ng-hide="day.meals.dinner.length">No menu information</p>
            </ul>
        </article>

            <section class="notice" ng-hide="{{!meal.notes}}"><p ng-bind-html="meal.notes"></p></section>
        </article>

        <section class="notice" ng-hide="{{!day.notes}}"<p ng-bind-html="day.notes"></p></section>
    </article>
</section>
